.DS_Store
*.pyc
*.egg-info
*.swp
tags
node_modules
__pycache__
*.pyc
__pycache__/
*.swp
*.swo
*.bak
*.db
*.DS_Store
.env
*.log
*.sqlite3
node_modules/
*.js.map
*.css.map
/public/files/*
/public/backups/*
/public/private/files/*
/public/private/backups/*
/*.egg-info/
*.tar.gz
*.zip
.idea/
.vscode/
*.pdf
*.xlsx
*.xls
*.csv
